WORDPRESS_API_URL=https://pcportable.ma/wp-json
WC_CONSUMER_KEY=ck_xxx
WC_CONSUMER_SECRET=cs_xxx
NEXT_PUBLIC_SITE_URL=https://pcportable.ma
NEXT_PUBLIC_WHATSAPP_NUMBER=2126XXXXXXXX
NEXT_PUBLIC_CURRENCY=MAD
REVALIDATE_SECRET=xxxxx
